.searchbar {
  position: relative;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%; 
  margin: 0 1rem; 
  transition: all 0.3s ease;
}

.searchbar__input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: var(--ff);
  color: var(--color-white);
  background-color: var(--color-bg);
  border: transparent;
  border-radius: 2rem;
  outline: none;
  transition: all 0.3s ease;

  text-align: left;
  line-height: normal;
}

.searchbar__input::placeholder {
  color: var(--color-gray-light);
  opacity: 1;
  transition: opacity 0.3s ease;
}



.searchbar__input:focus::placeholder {
  opacity: 0.5;
}

.searchbar__toggle {
  display: inline-block;
  background: none;
  border: none;
  padding: 0.5rem;
  margin-left: auto;
  cursor: pointer;
}

.searchbar__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-white);
}

.hidden {
  display: none !important;
}

@media (min-width: 48rem) {
  .searchbar {
    max-width: 31.25rem; 
    margin: 0 auto; 
  }
}