@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {

  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --ff-sans: "DM sans", sans-serif;

  --color-fg: var(--color-white);
  
  
  /* variables du site  */
  
  
  --color-bg: hsl(210, 5%, 8%);
  --color-txt-gray: hsla(0, 0%, 100%, 0.71);
  --color-txt-white: hsl(210, 17%, 98%);

  --ff: "Yle Next";

  --icon-path-name: M 14.057 9.349 c 0.05 -0.93 0.432 -1.345 1.232 -1.345 c 0.76 0 1.103 0.402 1.138 1.343 Z M 35.746 14.77 h -6.811 L 27.1 20 h -4.058 L 30.216 0.22 h 4.807 L 42.054 20 h -4.42 Z m -3.31 -10.76 l -2.612 7.69 h 5.083 Z M 55.666 20 l -4.475 -6.75 h -3.06 V 20 h -3.947 V 0.69 S 46.71 0 51.24 0 c 5.198 0 8.308 1.8 8.308 5.835 c 0 4.12 -2.557 5.89 -4.39 6.695 L 60.382 20 Z m -7.53 -9.875 h 4.476 c 1.919 -0.8 2.808 -1.825 2.808 -3.9 c 0 -2.16 -1.557 -3.015 -4.114 -3.015 c -1.612 0 -3.17 0.275 -3.17 0.275 Z M 62.723 20 V 0.275 h 13.531 V 3.62 h -9.558 v 4.95 h 8.252 v 3.21 h -8.252 v 4.87 h 9.81 V 20 Z M 79.455 20 V 0.275 h 13.532 V 3.62 h -9.559 v 4.95 h 8.253 v 3.21 h -8.253 v 4.87 h 9.81 V 20 Z M 100.098 20 H 96.18 V 0.275 h 3.666 l 9.589 12.475 V 0.275 h 3.948 V 20 h -2.974 L 100.098 6.89 Z M 128.192 14.77 h -6.811 L 119.553 20 h -4.059 L 122.662 0.22 h 4.807 L 134.501 20 h -4.42 Z m -3.305 -10.76 l -2.612 7.69 h 5.083 Z;
  --icon-path-logo: M 20.591 0.928 v 18.144 c 0 0.495 -0.43 0.928 -0.902 0.928 H 1.443 C 0.931 20 0.5 19.567 0.5 19.072 V 0.928 A 0.94 0.94 0 0 1 1.443 0 H 19.69 c 0.472 0 0.902 0.413 0.902 0.928 M 8.288 7.122 h -0.324 c -0.356 0 -0.477 0.222 -0.564 0.602 l -0.905 3.915 H 6.34 c -0.332 0.011 -0.484 -0.034 -0.592 -0.465 L 4.832 7.72 l -0.01 -0.039 c -0.07 -0.262 -0.148 -0.56 -0.514 -0.56 h -0.342 c -0.313 0 -0.492 0.171 -0.492 0.47 c 0 0.165 0.044 0.408 0.14 0.766 l 0.972 3.453 c 0.18 0.676 0.565 0.978 1.249 0.978 h 0.42 c -0.055 0.289 -0.124 0.618 -0.166 0.75 c -0.171 0.528 -0.428 0.624 -0.87 0.624 c -0.392 0 -0.646 -0.03 -0.832 -0.051 l -0.016 -0.002 a 3 3 0 0 0 -0.277 -0.022 c -0.26 0 -0.415 0.161 -0.415 0.432 v 0.228 c 0 0.285 0.148 0.388 0.307 0.455 c 0.24 0.108 0.537 0.167 1.423 0.167 c 0.909 0 1.581 -0.486 1.802 -1.3 c 0.378 -1.397 1.387 -5.612 1.43 -5.791 c 0.005 -0.019 0.12 -0.468 0.12 -0.686 c -0.001 -0.28 -0.191 -0.47 -0.473 -0.47 m 2.433 -2.904 H 9.9 c -0.15 0 -0.606 0 -0.606 0.45 v 0.362 c 0 0.141 0.063 0.47 0.644 0.47 h 0.138 v 6.722 c 0 0.384 0.089 0.623 0.53 0.623 h 0.266 c 0.45 0 0.51 -0.315 0.51 -0.623 V 5.163 c 0 -0.354 0 -0.945 -0.662 -0.945 m 6.317 7.364 c -0.085 0 -0.171 0.017 -0.272 0.036 l -0.038 0.007 a 5 5 0 0 1 -1.08 0.108 c -1.391 0 -1.555 -0.234 -1.599 -1.319 h 2.66 c 0.615 0 0.889 -0.24 0.889 -0.778 c 0 -1.144 -0.242 -2.667 -2.33 -2.667 c -1.763 0 -2.55 0.953 -2.55 3.09 c 0 2.085 0.733 2.861 2.703 2.861 c 0.82 0 1.468 -0.125 1.722 -0.241 c 0.162 -0.068 0.311 -0.171 0.311 -0.457 v -0.208 c 0 -0.27 -0.156 -0.432 -0.416 -0.432;
  --icon-path-login: M 12 2 a 5 5 0 1 0 0 10 a 5 5 0 0 0 0 -10 M 9 7 a 3 3 0 1 1 6 0 a 3 3 0 0 1 -6 0 m -2 7 a 5 5 0 0 0 -5 5 v 2 a 1 1 0 1 0 2 0 v -2 a 3 3 0 0 1 3 -3 h 10 a 3 3 0 0 1 3 3 v 2 a 1 1 0 1 0 2 0 v -2 a 5 5 0 0 0 -5 -5 Z;
  --icon-path-search: M 16.618 18.032 a 9 9 0 1 1 1.414 -1.414 l 3.675 3.675 a 1 1 0 0 1 -1.414 1.414 Z M 4 11 a 7 7 0 1 1 12.042 4.856 a 1 1 0 0 0 -0.186 0.186 A 7 7 0 0 1 4 11;

}
