<div class="movies__container-detail">
  <div class="movie__detail">
    <img src="https://mmi.unilim.fr/~onillon4/SAE2.03-Onillon/server/images/{{image}}" alt="image du film" />
    <h2 class="movie__title">{{title}}</h2>
    <p class="movie__description">{{description}}</p>
    <p class="movie__director">Réalisateur : {{director}}</p>
    <p class="movie__year">Année : {{year}}</p>
    <p class="movie__category">Catégorie : {{category}}</p>
    <p class="movie__age">Âge minimum : {{min_age}} ans</p>
    <iframe width="560" height="315" src="{{trailer}}" title="Bande-annonce" allowfullscreen></iframe>
  </div>
</div>