.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 16px;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.movie-card {
  position: relative;
  flex: 1 1 calc(25% - 40px);
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(15, 14, 14, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.movie-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.movie-card__image {
  width: 100%;
  height: 350px;
  max-height: 400px;
  margin-bottom: 10px;
  border-radius: 0.3rem;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover .movie-card__image {
  transform: scale(1.1);
}

.movie-card__title {
  position: absolute;
  bottom: 20px;
  left: 15px;
  right: 15px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

/* Responsive design */
@media (max-width: 1024px) {
  .movie-card {
    flex: 1 1 calc(33.33% - 40px);
  }

  .movie-card__image {
    max-height: 350px;
  }

  .movie-card__title {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .movie-card {
    flex: 1 1 calc(50% - 40px);
    max-width: 45%;
  }

  .movie-card__image {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .movie-card__image {
    max-height: 250px;
  }

  .movie-card__title {
    font-size: 0.9rem;
    padding: 4px;
  }
}
