.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajout pour espacer les éléments */
  width: 100%; /* S'assurer que la liste prend toute la largeur */
  margin: 0;
  padding: 0;
}

.navbar__item {
  --_offset: 0.2rem;
  padding: 0.5rem 1rem;
  list-style: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: var(--_offset);
  cursor: pointer;
  transition: text-underline-offset 0.2s ease-in-out;
}

.navbar__item:hover {
  --_offset: 0.5rem;
}

#profile__select {
  padding: 0.5rem;
  border: 1px solid var(--color-bg);
  border-radius: 0.25rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  cursor: pointer;
}