<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="C.goHome()">Home</li>
    <li class="navbar__item" onclick="C.showFavoris()">Favoris</li>
  </ul>
  <div class="navbar__profil">
    <select id="profile-select" class="navbar__select" onchange="{{handler}}">
      <option value="" disabled selected>Choisir un profil</option>
      {{profile}}
    </select>
    <img
      id="profile-image"
      class="navbar__image"
      src="https://mmi.unilim.fr/~onillon4/SAE2.03-Onillon/server/images/default-avatar.png"
      alt="Photo de profil"
    />
  </div>
</nav>





