<div class="addProfile">
    <h4 class="addProfile__title">Ajouter un utilisateur</h4>
    <form class="addProfile__form">
      <input required type="text" name="name" placeholder="Saisir un nom" />
      <input
        required
        type="text"
        name="image"
        placeholder="Saisir une image"
      />
      <input
        required
        type="date"
        name="age"
        placeholder="Saisir une date (AAAA-MM-JJ)"
        min="1"
      />
      <button type="button" onclick="{{handler}}">Ajouter</button>
    </form>
  </div>