.footer {
  background-color: var(--color-bg);
  color: var(--color-txt-white);
  padding: 1.25rem;
  text-align: left;
  margin-top: 1.25rem;
}

.footer__section {
  margin-bottom: 1.25rem;
  text-align: left;
}



.footer__heading {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__item {
  margin-bottom: 0.4rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (min-width: 37.5rem) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__section {
    flex: 1 1 12.5rem;
    margin-bottom: 0;
    text-align: left;
  }

  .footer__section--brand {
    flex: 1 1 100%;
    text-align: left;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 37.5rem) {
  .footer__section--brand {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__section--brand img {
    margin-bottom: 0.6rem;
  }
}