<footer class="footer">

    <div class="footer__section footer__section--links">
      <div class="footer__block">
        <h3 class="footer__heading">Yle Arenan</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="#swedish" class="footer__link">Yle Arenan på svenska</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__heading">Lasten Areena</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="#children" class="footer__link">Lasten Areena</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__heading">Instructions</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="#tv-apps" class="footer__link">Applications TV</a></li>
          <li class="footer__item"><a href="#android-apps" class="footer__link">Applications mobiles Android</a></li>
          <li class="footer__item"><a href="#ios-apps" class="footer__link">iPhone et ipad</a></li>
          <li class="footer__item"><a href="#all-guides" class="footer__link">Toutes les intructions</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer__section footer__section--social">
      <h3 class="footer__heading">Areena sur les réseaux sociaux</h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="#facebook" class="footer__link">Facebook</a></li>
        <li class="footer__item"><a href="#instagram" class="footer__link">Instagram</a></li>
        <li class="footer__item"><a href="#tiktok" class="footer__link">TikTok</a></li>
        <li class="footer__item"><a href="#youtube" class="footer__link">YouTube</a></li>
      </ul>
    </div>
  
    <div class="footer__section footer__section--feedback">
      <h3 class="footer__heading">Donner un retour d'informations</h3>
      <ul class="footer__list">
        <li class="footer__item"><a href="#customer-service" class="footer__link">Services client</a></li>
      </ul>
    </div>
  </footer>